  /* Mes règles pour .btn-primary */

.btn-primary {
    --bs-btn-bg: var(--bs-emphasis-color);
    --bs-btn-border-color: var(--bs-emphasis-color);
    --bs-btn-hover-bg: var(--bs-tertiary-color);
    --bs-btn-hover-border-color: var(--bs-emphasis-color);
    --bs-btn-focus-shadow-rgb: var(--bs-tertiary-color-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: color-mix(in srgb, var(--bs-tertiary-color), white 15%);
    --bs-btn-active-border-color: var(--bs-emphasis-color);
}

.form-select {
    width: auto;
    border: var(--bs-border-width) solid var(--bs-emphasis-color);

    &:focus {
        border-color: var(--bs-emphasis-color);
        outline: 0;
        box-shadow: 0 0 0 .25rem color-mix(in srgb, var(--bs-tertiary-color), white 70%);
    }   
}