:root {
    --couleur-primaire: #092B4B;
    --couleur-secondaire: #AEBECE;
    --couleur-accent: #7F4985;
    --couleur-accent-hover: #d29fc9;
    --font-titres: "MuseoModerno", sans-serif;
    /* --bs-primary: #092B4B;
    --bs-primary-rgb: rgb(9, 43, 75); - ne fonctionnnent pas*/
}

body {
    color: var(--couleur-primaire);

    & h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-titres);
    }
}