body {
    & h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: var(--font-titres);
    }
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    color: var(--bs-primary);
    text-decoration: none;
}



